/****************************************************************
	RESET
****************************************************************/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: url("images/sleeping_woman.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

/****************************************************************
	HEADER
****************************************************************/
header {
	display: block;
	height: 70px;
	width: 100%;
	border-bottom: 2px solid black;
	background-color: #3874F5;
	position: fixed;
	z-index: 1;
	border-radius: 0 0 6px 6px;
}

#name {
	font-family: 'sansita', cursive;
	color: white;
	font-size: 40px;
	margin-left: 15px;
	position: relative;
	top: -20px;
	right: -15px;
}

#name a {
	color: white;
}


#tag-line {
	font-family: 'Libre Baskerville', serif;
	margin-left: 19px;
	position: relative;
	top: -25px;
	right: -60px;
	letter-spacing: 1px;
	color: white;
}

#navigation {
	text-align: right;
	position: relative;
	top: -80px;
	right: 20px;

}

#navigation ul li {
	display: inline;
	font-family: 'sansita', cursive;
	padding: 4px 6px;
	margin: 0 3px;
	border: 2px solid black;
	background-color: white;
	font-size: 23px;
	border-radius: 4px;
	box-shadow: 4px 4px;
	list-style: none;
}


#navigation ul li:hover {
	border: 3px solid black;
}

#navigation ul li:nth-child(5) {
	margin-left: 40px;
	box-shadow: 7px;
}


/****************************************************************
	GENERAL SECTIONS
****************************************************************/
.section-title {
	text-align: center;
	font-size: 40px;
	margin: 0 auto;
	padding: 20px 0;
	font-family: 'Montserrat', sans-serif;
}



h1 {
	font-family: 'Poiret One', cursive;
	margin: 26px 0 0 8px;
}

.sections {
	position: relative;
	top: 150px;
	background-color: rgba(145,140,142,0.8);
	
}

/****************************************************************
	ABOUT SECTION
****************************************************************/
#about {
	width: 700;
}

#about p {
	line-height: 30px;
	margin: 0 auto;
	font-size: 18px;
	padding: 10px;
	max-width: 950px;
	text-indent: 40px;
	font-family: 'Abel', sans-serif;
}



/****************************************************************
	TESTIMONIAL SECTION
****************************************************************/
.testimonial-people {
	width: 120px;
	height: 120px;
	border-radius: 100px;
	border: 4px solid #4DACFA;
	margin-right: 20px;
	float: left;
}

#testimonials{
	height: 600px;
	font-family: 'Abel', sans-serif;
}

#testimonials div {
	display: inline-block;
	margin: 0 20px 5px 200px;
	text-align: left;
	padding-left: 5px;
	padding-bottom: 5px;
	width: 900px;

}

.customer-text {
	font-style: italic;
}

/****************************************************************
	LOCATION SECTION
****************************************************************/
#locations {
	width: 100%;
	font-family: 'Abel', sans-serif;
}

.location-name {
	text-align: center;
	font-weight: bold;
}

table img {
	width: 300px;
	height: 300px;
	padding: 4px;
	border-radius: 10px;
}

/****************************************************************
	PRICING AND HOURS SECTION
****************************************************************/
#pricing {
	width: 100%;
	font-family: 'Abel', sans-serif;
}


#pricing-description {
	height: 250px;
	width: 750px;
	margin: 0 auto;
	letter-spacing: 1px;
}

#pricing-description p {
	text-align: center;
	letter-spacing: 2px;

}

#pricing-description ul li {
	position: relative;
	left: -15px;
	letter-spacing: 2px;
}


/****************************************************************
	RESERVATION SECTION
****************************************************************/
#reservation{
	width: 100%;
	margin-bottom: 20px;
	font-family: 'Abel', sans-serif;
}

fieldset {
	width: 700px;
	height: 270px;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;
}

#registration_button {
	width: 726px;
	height: 50px;
	text-align: center;
	border: 2px solid black;
	background-color: lightgray;
}

#centered-submit {
	text-align: center;
	margin: 10px 0 10px 0;
}

input[type="textarea"] {
	width: 600px;
	height: 200px;
	border: 1px solid gray;
}
input[type="date"]{
	text-align: center;
}

input {
	width: 300px;
	text-align: center;
}



fieldset select {
	display: block;
	margin: 0 auto;
	width: 400px;
}



/****************************************************************
	FOOTER
****************************************************************/
footer {
	width: 100%;
	text-align: center;
	color: white;
	opacity: 0.8;
	font-family: 'Abel', sans-serif;
}
footer li {
	padding-right: 6px;
	border-right: 2px solid black;
	margin-right: 2px;
	position: relative;
	top: 50px;
}
footer li:nth-child(5) {
	border-right: none;
}

#copyright {
	font-size: 12px;
	position: relative;
	top: 45px;
	padding: 2px;
	margin-bottom: 2px;
}















































